# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations (optional, nur wenn vom Kurs erlaubt)
# */migrations/*
# !*/migrations/__init__.py